= content_for :main_toolbar do
  = link_to 'Groups', domains_groups_path
  = "/ #{@group.name}"

.row
  .col-md-9
    = render partial: 'identity/domains/groups/members', locals: {members: @group_members, group: @group}

  .col-md-3
    .infobox
      %h4.action-heading
        Group Info
        - can_edit = current_user.is_allowed?('identity:group_update', domain_id: @scoped_domain_id) && !@domain_config&.feature_hidden?('group_management')
        - can_delete = current_user.is_allowed?('identity:group_delete', domain_id: @scoped_domain_id) && !@domain_config&.feature_hidden?('group_management')
        - if can_delete or can_edit
          .dropdown.header-action
            %i.fa.fa-cog.dropdown-toggle{ data: { toggle: "dropdown"}, aria: { expanded: true} }
            %ul.dropdown-menu.dropdown-menu-right{ role:"menu"}
              - if can_edit
                %li
                  = link_to plugin('identity').edit_domains_group_path(project_id:nil,id:@group.id), title: "Edit group info", data: {modal: true, toggle: "tooltip", placement: "left"} do
                    %i.fa.fa-edit.fa-fw
                    Edit Group
              - if can_delete
                %li.divider{role: "separator"}
                %li
                  = link_to plugin('identity').domains_group_path(project_id: nil, id:@group.id), method: :delete, data: {confirm:'This cannot be undone, are you sure?', ok: 'Yes, delete it!', confirm_term: @group.name, confirm_term_label: "Type group name to confirm (#{@group.name})" } do
                    %i.fa.fa-trash.fa-fw
                    Delete Group
                    %i.fa.fa-exclamation-triangle

      %table.table
        %tbody
          %tr
            %td
              %b Description:
              %br
              = @group.description
